@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #c04060;
  --secondary: #c06b40;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}